<a href="https://colab.research.google.com/github/Beatrizpx/Aulas-programacao/blob/main/estruturas_de_controle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(100==(50+50))
print(100>=(50+50))
print(100>(50+50))

True
True
False

In [ ]:
sexo= 'M'
idade= 60
if(sexo == 'M' and idade >=60):
 print('Pode se aposentar')
elif(sexo =='F' and idade >= 65):
 print('Pode se aposentar')
else:
 print('Ainda não pode se aposentar')

Pode se aposentar

In [ ]:
sexo= input('Insira o sexo, M (masculino) ou F(feminino):')
idade= int(input('Isira a idade:'))
if((sexo == 'M' and idade >=50) or (sexo == 'F' and idade >=60)):
 print('Pode se aposentar')
else:

 print('Ainda não pode se aposentar')

KeyboardInterrupt: ignored

In [ ]:
#SOLICITE TRES NUMEROS A,B,C
#IMPRIMA NA TELA SE A+B é menor de C

A= int(input('Insira um numero:'))
B= int(input('Insira um numero:'))
C= int(input('Insira um numero:'))

if(A+B < C):
  print( 'É menor')
else: 
  print(' É maior')

In [ ]:
#ESCREVA UM ALGORITIMO QUE RECEBE 2 VALORES INTEIROS 
#ESESCREVE NA TELA QUAL É O MAIOR


n1 = int(input('Escreva o numero:'))
n2 = int(input('Escreva o numero:'))


if(n1>n2):
  print( n1,' é menor que ',n2)
else:
  print( n2,' é maior que',n1)

Escreva o numero:13
Escreva o numero:17
17  é maior que 13

LISTAS

In [ ]:
#Listas são estruturas de dados formadas por elementos de um mesmo tipo 
numeros = [23, 4, 3, 2]

In [ ]:
#Tamanho de uma lista
len(numeros)

In [ ]:
  #INDICES [ 23, 4, 3, 2]
print(numeros[0])
print(numeros[1])
print(numeros[2])
print(numeros[3])

23
4
3
2

In [ ]:
#ALUNOS DD OUTRO TIPO
alunos = [' Mariana','Luiz','Higor','Ivan','valentina' ]

In [ ]:
#INSERIR VALORES DE ITENS DE LISTA
alunos =['Luiz']

In [ ]:
#inserir valores na lista . append()
alunos.append('Aderbal')
alunos

['Luiz', 'Aderbal']

In [ ]:
#lista aula 6- coleçoes

nomes = ['ze', 'tiao', 'joaoquim']
nomes.append('julia')

#varios valores
outrosNomes =[ 'ana', 'zabe', 'maria']
nomes.extend(outrosNomes)


nomes

['ze', 'tiao', 'joaoquim', 'julia', 'ana', 'zabe', 'maria']

In [ ]:
#crie uma lista de numeros e 
numeros= [ 1,2,3,4,5,6,7,8]
#remova o primeiro elemento da lista
numeros.remove(numeros[0])
#remova o ultimo elementos da lista
numeros.pop()


numeros

[2, 3, 4, 5, 6, 7]

In [ ]:
#1 crie uma lista de notas, e exiba-a da menor para maior
notas = [ 1,2,3,4,5,6,7,8]
nomes = ['ana','maria','beatriz','mariana','natalia']
notas.sort()
nomes.sort()
#2 crie uma lista de nomes de frutas e ordene-a de menor para maior

nomes

['ana', 'beatriz', 'maria', 'mariana', 'natalia']

In [ ]:
 #exmplo função map- criar uma nova lista com o dobro do valor
numeros = [ 2, 5, 6, 7]
nova_lista = list(map(lambda x : x*2, numeros))
nova_lista

[4, 10, 12, 14]

In [ ]:
# pegar cada um dos numeros e dividir por 3
numdiv = list(map(lambda x: x/3, numeros))
numdiv

[1.0, 3.0, 2.0, 6.0]

In [ ]:
#pega cada numero e soma 2
Soma2 = list(map(lambda x:x+2, numeros))
Soma2

[5, 11, 8, 20]

In [ ]:
# exemplo função filter - a partir de uma lista e nomes

nomes = ['joao','jose','sebastiao','angelica']

new_list = list(filter(lambda x : len(x)>5, nomes))
new_list

['sebastiao', 'angelica']

In [ ]:
#crie uma lista de notas, imprime as maiores que 6
 
numeros = [3,6,7,8,5,44,77]
new_list = list(filter(lambda x : (x)>6, numeros))
new_list

[7, 8, 44, 77]

In [ ]:
#dada uma lista de numeros ,retorne uma lista contendo o quadrado de cada numero
numeros = [16,9,49,81]
new_list =list(map(lambda x : x**2, numeros))
new_list

[256, 81, 2401, 6561]

In [ ]:
#dada uma lista de nomes, retorne uma lista contendo o tamanho de cada nome
nomes = ['Beatriz', 'Caio', 'Bruno', ' larissa']
new_list =list(map(lambda x : len(x), nomes))
new_list

[7, 4, 5, 8]

In [ ]:
#dada uma lista de numeros, retorne uma lista contendo apenas os numeros pares
numeros = [1,2,3,4,5,6,7,8,9,10]
new_list = list(filter(lambda x :(x) %2 == 0 , numeros))
new_list

[2, 4, 6, 8, 10]

In [ ]:
#dada uma lista de nomes, retorne uma lista contendo apenas os nomes que começam com a letra A
nomes = ['Andre','Aria','Robson','Ana']
new_list = list(filter(lambda x: x[0] == 'A', nomes))
new_list

['Andre', 'Aria', 'Ana']