<a href="https://colab.research.google.com/github/Beatrizpx/Aulas-programacao/blob/main/exercicios_de_pyhton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Exercícios usando map() e filter()
#Dada uma lista de números, retorne uma lista contendo o quadrado de cada número.
#Dada uma lista de nomes, retorne uma lista contendo o tamanho de cada nome.
#Dada uma lista de números, retorne uma lista contendo apenas os números pares.
#Dada uma lista de nomes, retorne uma lista contendo apenas os nomes que começam com a letra "A".
#Recebe uma lista com notas de alunos, retorna apenas os aprovados (nota maior ou igual a 7)
#Recebe uma lista de nomes, retorna apenas os que começam com vogal
#Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números que são divisíveis por 3 e 5.
#Escreva uma função que recebe uma lista de strings e retorna uma nova lista contendo apenas as strings que iniciam com uma letra maiúscula.
#Recebe uma lista de strings, e retorna uma lista apenas com as iniciais de cada string.
#Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números pares elevados ao quadrado.

In [10]:
#dada uma lista de numeros, retorna uma lista contendo o quadrado de cada numero

numero = [5,7,9,2]
new_list = list(map(lambda x : x**2, numero))
new_list

[25, 49, 81, 4]

In [11]:
#Dada uma lista de nomes, retorne uma lista contendo o tamanho de cada nome.

name = ['Beatriz','Joao','Alex', 'Vinicius', 'Maria']
new_list = list(map(lambda x : len(x), name))
new_list

[7, 4, 4, 8, 5]

In [12]:
#Dada uma lista de números, retorne uma lista contendo apenas os números pares

number = [1,2,3,4,5,6,7,8,9,10]
new_list = list(filter(lambda x : x %2 == 0, number))
new_list

[2, 4, 6, 8, 10]

In [22]:
#Dada uma lista de nomes, retorne uma lista contendo apenas os nomes que começam com a letra "A".

name = ['aria','joao','bia','andre','antonio']
new_list = list(filter(lambda x :x [0] == 'a', name))
new_list

['aria', 'andre', 'antonio']

In [35]:
#Recebe uma lista com notas de alunos, retorna apenas os aprovados (nota maior ou igual a 7)

number = [10,3,5,9,8]
new_list = list(filter(lambda x : x >=7 , number))
new_list

[10, 9, 8]